.header {
  background-image: url('/assets/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.userMenuTitle {
  color: var(--mantine-color-gray-6);
}

.userMenu {
  background-color: var(--bg3vault-bg-main-color);
}

.userMenuLink {
  color: var(--mantine-color-gray-6);

  @mixin hover {
    color: var(--mantine-color-white);
  }
}

.languageSwitcherButton {
  margin-right: -1rem;
  color: var(--mantine-color-dark-9);
  letter-spacing: 0.05rem;

  &[disabled] {
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;
  }

  @mixin hover {
    color: var(--mantine-color-dark-9);
    background-color: var(--mantine-color-larian-9);
  }
}
