.navbar {
    background-color: var(--mantine-color-dark-9);
}

.navbarDesktop {
    margin-top: -4rem;
}

.link {
    &:hover,
    &:focus-visible {
        color: var(--mantine-color-main-4);

        & > div > p,
        & > p {
            color: var(--mantine-color-gray-2) !important;
        }
    }

    &:focus-visible {
        outline: none;
    }
}

.linkCurrent {
    color: var(--mantine-color-main-4);

    & > div > p,
    & > p {
        color: var(--mantine-color-gray-2) !important;
    }
}

.label {
    font-size: 0.8rem !important;
    color: var(--mantine-color-gray-6) !important;
}