.accountActivationBar {
  background-color: var(--mantine-color-red-8);
}

.accountActivationBarButton {
  color: var(--mantine-color-white);
  font-size: 1rem;

  &:hover,
  &:focus-within {
    color: var(--mantine-color-white);
  }
}
