/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/modules/users/components/components.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.components_accountActivationBar__FuT_P {
  background-color: var(--mantine-color-red-8);
}

.components_accountActivationBarButton__aLXPc {
  color: var(--mantine-color-white);
  font-size: 1rem;
}

.components_accountActivationBarButton__aLXPc:hover,
  .components_accountActivationBarButton__aLXPc:focus-within {
    color: var(--mantine-color-white);
  }

